<h1>Bank Branches</h1>


<div class="container">

  <mat-form-field id="bloc1" >
    <mat-label>Select City</mat-label>
    <mat-select (selectionChange)='fetchData($event.value)' (opened)="fetchData($event.value)">
      <!-- <mat-option disabled="true">Select city</mat-option> -->
      <mat-option [value]="city" *ngFor="let city of cityList">{{city}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field id="bloc2">
    <input id="bloc2" matInput placeholder="Search" (keyup)="filter($event)">

  </mat-form-field>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="favourite">
      <th mat-header-cell *matHeaderCellDef id="first"> Favourite  </th>
      <!-- <td mat-cell *matCellDef="let item"> {{item.favourite}} </td> -->
      <td  mat-cell *matCellDef="let item, let i = index">
        <button mat-icon-button (click)="toggleFavourite(i)">
          <mat-icon *ngIf="item.favourite==='Yes'">grade</mat-icon>
          <mat-icon *ngIf="item.favourite==='No'">star_border</mat-icon>
        </button>
      </td>
    
    </ng-container>

    <ng-container matColumnDef="bank_name">
      <th mat-header-cell *matHeaderCellDef> Bank Name </th>
      <td mat-cell *matCellDef="let item"> {{item.bank_name}} </td>
    </ng-container>
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef> Branch </th>
      <td mat-cell *matCellDef="let item"> {{item.branch}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let item"> {{item.city}} </td>
    </ng-container>

    <ng-container matColumnDef="ifsc">
      <th mat-header-cell *matHeaderCellDef> IFSC </th>
      <td mat-cell *matCellDef="let item"> {{item.ifsc}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let item"> {{item.address}} </td>
    </ng-container>
    <ng-container matColumnDef="district">
      <th mat-header-cell *matHeaderCellDef> District </th>
      <td mat-cell *matCellDef="let item"> {{item.district}} </td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let item"> {{item.state}} </td>
    </ng-container>
    <ng-container matColumnDef="bank_id">
      <th mat-header-cell *matHeaderCellDef id="last"> Bank Id </th>
      <td mat-cell *matCellDef="let item"> {{item.bank_id}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15,25, 50, 100]" aria-label="Select page">
  </mat-paginator>

</div>